@import url("../static/css/all.css");

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    margin: 0px;
}

#SideMenu {
    height: 100%;
    width: 300px;
    position: fixed;
    margin: 0px;
    font-size: 0px;
    overflow-y: auto;
    border-right-style: solid;
    border-right-width: 1px;
}

#page {
    width: calc(100vw - 300px);
    position: fixed;
    left: 300px;
    height: 100%;
}



#SideMenu button, #logout{
    text-decoration: none;
    width: 100%;
    background-color: white;
    height: 50px;
    border: none;
    padding: none;
}


#SideMenu button:hover, #logout:hover{
    background-color: lightgrey;
}

#logout {
    position: absolute;
    bottom: 0px;
}