<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!--<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/sidebar.css')}}" />-->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/sidebar.css" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="stylesheet" href="../static/css/postButton.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id = "page">
        <a id = "newPost" href="/post.html"><img src="../static/images/AddPost.png" height = '50px' width = '50px' /></a>
            {% include page %}
    </div>
    <div id = 'SideMenu'>
        <button onclick="location.href = '/';">Home</button>
        <button>Browse</button>
        <button>My Projects</button>
        <button>Notifications</button>
        <button onclick="location.href = '/messages.html';">Messages</button>
        <button>Saved Projects</button>
        <button onclick="location.href = '/myProfile';">Profile</button>
        <button>Settings</button>
        <form action="/logout" method="post">
            <input id="logout" type="submit" value="Log Out"></input>
        </form>
    </div>
    <script src = "{{ url_for('static', filename='js/jquery-3.6.1.js')}}" ></script>
    <script src = "{{ url_for('static', filename='js/main.js')}}" ></script>
</body>
</html>