<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/createAccount.css">
</head>
<body>

    
    <div class="bigGreyRec">
    
        <form>
            <div class="lessBigWhiteRec">
                <div class="title">
                    FreelanceMed
                </div>
            
                <label for="Username" class="userLabel">
                    Username
                </label>
                <input id="Username" name="Username">
                <label for = "Password" class="passLabel">
                    Password
                </label>
                
            </input>
                <input id="Password" type="password" name="Password">
        </input>
            

                    <input class="loginRectangle" value = "Sign Up" type="submit"></input>
                    <!--<button onclick="window.location.href='home.html'">Sign Up</button>-->
            
            </div><!-- end whiteRec -->
        </form>

        
    </div>
    <div class="signUp">
        Already have an account? <a href="/" class = "signUpLink">Log In</a>
    </div>

</body>
</html>