<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!--<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/sidebar.css')}}" />-->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/sidebar.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id = "page">
        <div id = "content">
            <div id = "feed">
                <div id = "posts">
                    <div class = "post">
                        <h1>Lorem Ipsum</h1>
                        <div class = "description">
                            <img src="../static/images/business_cover.jpeg" id="test"></img>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class = "post">
                        <h1>Lorem Ipsum</h1>
                        <div class = "description">
                            <img src="../static/images/business_cover.jpeg" id="test"></img>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class = "post">
                        <h1>Lorem Ipsum</h1>
                        <div class = "description">
                            <img src="../static/images/business_cover.jpeg" id="test"></img>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id = 'SideMenu'>
        <button>Home</button>
        <button>Browse</button>
        <button>My Projects</button>
        <button>Notifications</button>
        <button>Messages</button>
        <button>Saved Projects</button>
        <button>Profile</button>
    </div>
    
    <p></p>Welcome to Freelance Med 
    <script src = "{{ url_for('static', filename='js/jquery-3.6.1.js')}}" ></script>
    <script src = "{{ url_for('static', filename='js/main.js')}}" ></script>
</body>
</html>