<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Nunito&display=swap');

    #circle {
    width: 100px;          /* Set the width of the circle */
    height: 100px;         /* Set the height of the circle */
    border-radius: 50%;    /* This will make it a circle */
    border: 0.01px solid #000;  /* Thin border. Change #000 to any color you prefer */
    }
    .circle-image {
    border-radius: 50%; 
    width: 100%; 
    height: 100%;
    display: block; 
    object-fit: cover;
    }
    #companyName{
        font-size: 1.125em;
        font-family: 'Nunito', sans-serif;
    }

    #Type{
        font-size: 1em;
        font-family: 'Nunito', sans-serif;    
        color: #000000cb;
    }

    #message{
        background-color: white;
        font-size: 1.125em;
        font-family: 'Lato', sans-serif;
        color: black;
        margin-left: 40px;
        margin-bottom: 20px;
        align-self:flex-end;
        height: fit-content;
        padding: 5px;
        }
    #message:hover {
        background-color: rgb(210, 210, 210); 
    }
    #companyDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #companyDescription{
        font-size: 1.125em;
        font-family: 'Lato', sans-serif;
        color: black;
        margin: 10px 20px 10px 40px;
        overflow:hidden;
    }

    .clear-box {
        /*border: 2px solid black; /* Optional light border for visibility */
        background-color: transparent; 
    }

    #Profile {
        width: 100%;
        height: 200px;
        border-bottom-style: solid;
        border-bottom-width: thin;
        display: flex;
        margin-left: 30px;
        align-items: center;
    }
    #box2{
        width: 70%;
        height: 200px;
        float:left;
    }
    #box3{
        width: 20%;
        height: 200px;
        float:left;
    }
    #box4{
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
    #box5{
        width: 50%;
        height: 300px;
        float:left;
    }
    #box6{
        width: 50%;
        height: 300px;
        float:left;
    }
    .image{
        width: 100%;
        height: 100%;
    }
    #box7{
        margin-top: -100px;
        width: 100%;
        height: 100px;
        float: left;
    }
    #box8{
        width: 50%;
        height: 100px;
        float: left;
    }
    #box9{
        width: 50%;
        height: 100px;
        float: left;
    }

</style>
        <div class="clear-box" id="Profile">
            <div id = "companyDetails">
                <img src="../static/images/zucc.jpg" id="circle"></img>
                <div style="display: flex;">
                    <div>
                        <div id="companyName">
                            Cancer Cure
                        </div>
                        <div id="Type">
                            Requester
                        </div>
                    </div>
                    <button id="message">
                        Message
                    </button>
                </div>
            </div>
            <p id="companyDescription">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            
        </div>
        <div id = "content">
            <div id = "feed">
                <div id = "posts">
                    {% for my_item in Posts %}
                        {% with title = my_item %}
                            {% include "aPost.html"  %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--<div class="clear-box" id="box4">
            <div class="clear-box" id="box5">
                <img src="../static/images/business_cover.jpeg" class="image"></img>
            </div>
            <div class="clear-box" id="box6">
                <img src="../static/images/OIP.jpg" class="image"></img>
            </div>
        </div>

        <div class="clear-box" id="box7">
            <div class="clear-box" id="box8">
                cancer cured, from one of our vendors we met on this website, they made so epic sweet tech to cure cancer
            </div>
            <div class="clear-box" id="box9">
                dont vape lol, yall should stop and then this wouldnt be such an issue so yeah put down your blueberry mango puffer
            </div>
        </div>-->